

@font-face {

    font-family: 'icomoon';
    src:url('icomoon/fonts/icomoon.eot');
    src:url('icomoon/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('icomoon/fonts/icomoon.ttf') format('truetype'),
    url('icomoon/fonts/icomoon.woff') format('woff'),
    url('icomoon/fonts/icomoon.svg?#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
 /* 顶部 */
 .flex-top {
     position: fixed;
     width: 100%;
     height: 105px;
     background: rgb(36, 36, 36);
     z-index: 1;
 }
.top {
    position: relative;
    width: 1100px;
    height: 70px;
    min-width: 890px;
    margin: 0 auto;
    color: rgb(194, 194, 194);
}

/* logo */
.logo {
    display: inline-block;
    width: 157px;
    height: 69px;
    margin-right: 20px;
    font-size: 0;
    line-height: 69px;
    color: rgb(221, 221, 221);
    background: url("../images/base/topbar.png");
    background-size: 152%;
}

.logo a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

/* 顶部导航 */
.nav {
    display: inline-block;
    position: absolute;
    width: 500px;
}

.nav-son {
    display: inline-block;
    padding:  0 15px;
    line-height: 69px;
}

.nav-son:hover {
    background: #000;
}


.nav-hot {
    position: absolute;
    top: 20px;
    right: -10px;
    width: 28px;
    height: 19px;
    border-radius: 7px;
    background: url("../images/base/topbar.png");
    background-position: 50px 0px;
}

/* 搜索 */

.search{
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 225px;
    width: 158px;
    height: 32px;
    margin-left: 40px;
}

#index-sea {
    display: inline-block;
    /* position: absolute;
    top: 20px;
    right: 225px; */
    width: 158px;
    height: 32px;
    font-size: 12px;
    padding-left: 32px;
    border-radius: 17px;
    background: #fff url(../images/base/topbar.png);
    background-position: 0px 117px;
    outline: none;
}

/* 相关搜索 */
.relative-search {
    display: none;
    position: absolute;
    top: 39px;
    left: 0;
    width: 238px;
    font-size: 12px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 1;
}

.rs-user {
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    color: #ccc;
    border-bottom: 1px solid #ddd;
}



.rs-type {
    display: inline-block;
    width: 63px;
    padding: 5px 0 0 10px;
    color: #ccc;
    vertical-align: top;
}

.ico {
    display: inline-block;
    background: url(../images/base/icon.png);
} 
/* 相应图标 */
.rs-ico-s {
    width: 13px;
    height: 15px;
    background-position: -35px -300px;
}

.rs-ico-er {
    width: 13px;
    height: 15px;
    background-position: -50px -300px;
}

.rs-ico-al {
    width: 13px;
    height: 15px;
    background-position: -35px -320px;
}

.rs-ico-l {
    width: 13px;
    height: 15px;
    background-position: -50px -320px;
}

.rs-con {
    width: 169px;
    display: inline-block;
    color: #111;
}

.rs-m {
    display: none;
}

.rs-m ul {
    /* padding: 15px 0 15px 10px; */
    width: 100%;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.rs-m ul li {
    padding: 5px 0 2px 8px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rs-m ul li:hover {
    background: #888;
}

.create {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 110px;
    width: 90px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 17px;
    font-size: 12px;
}

.top-login {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 12px;
    text-align: center;    
}

#login {
    display: inline-block;
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* 头像 */
.person-head {
    position: absolute;
    top: 0;
    right: 15px;
    width: 30px;
    height: 30px;
    background: url(../images/base/109951165647004069.jpg) no-repeat;
    border-radius: 50%;
}

/* 个人菜单 */

.personal-menu {
    display: none;
    position: absolute;
    top: 37px;
    left: -37px;
    width: 150px;
    text-align: left;
    color: #ccc;
    background: rgb(36,36,36);
    z-index: 2;
}

.personal-menu li {
    height: 34px;
    line-height: 34px;
    padding-left: 30px;
}

.personal-menu li:hover {
    background: rgb(53, 53, 53);
}

.top-ico {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 7px 10px 0 0;
    background: url(../images/base/toplist.png);
}

/* 对应图标 */
.top-ico-1 {
    background-position: 0 -80px;
}

.top-ico-2{
    background-position: -20px -120px;
}

.top-ico-3{
    background-position: 0 -100px;
}

.top-ico-4{
    background-position: 0 -221px;
}

.top-ico-5{
    background-position: 0 -140px;
}

.top-ico-6{
    background-position: -20px -142px;
}

.top-ico-7{
    background-position: 0 -200px;
}

/* 头部红色部分 */

.box-subnav {
    display: block;
    position: relative;
    width: 100%;
    height: 35px;
    background: rgb(194, 12, 12);
}

.subnav {
    position: relative;
    margin: 0 auto;
    width: 1100px;
    padding-left: 186px;
}

.subnav-first {
    display: inline-block;
    margin: 7px 17px;
    padding: 2px 13px;
    font-size: 12px;
    color: #fff;
}

.subnav-first-s {
    background: rgb(160, 9, 9);
    border-radius: 9px;
}

.triangle {
    position: absolute;
    top: -14px;
    left: 219px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom: 7px solid rgb(194, 12, 12);
}

.occu {
    width: 100%;
    height: 105px;
}



footer {
    width: 100%;
    margin-top: 50px;
    background: rgb(36, 36, 36);
    min-width: 980px;
}
footer .w a:hover {
    color: #ddd;
}

footer .btu {
    text-align: center;
} 

footer button {
    width: 276px;
    height: 89px;
    margin: 10px auto;
    font-size: 40px;
    color: #fff;
    background: rgb(194, 12, 12);
    border-radius: 30px;
    outline: none;
}

.footer-pic-son{
    display: inline-block;
    width: 90px;
    height: 100px;
    margin: 20px 50px;
    padding-top: 95px;
    font-size: 13px;
    text-align: center;
    color: #fff;
    background: url(../images/base/foot_enter_new.png);
}
.footer-pic-son1{
    background-position: 100% 91%;
}

.footer-pic-son2 {
    background-position: 100% 10%;
}

.footer-pic-son3 {
    background-position: 0 0;
}

.footer-pic-son4 {
    background-position: 100% 20%;
}

.footer-pic-son5 {
    background-position: 0 20%;
}

/* 条款 */
.clause {
    margin: 30px 0;
    font-size: 14px;
    text-align: center;
    color: rgb(153, 153, 153);
}

.clause a {
    display: inline-block;
    margin: 0 30px;
}

.msg {
    color: #eee;
    font-size: 13px;
    text-align: center;
}

/* 底部播放器 */
.box-play {
    position: fixed;
    bottom: 0;
    bottom: -45px;
    width: 100%;
    height: 50px;
    color: #fff;
    background: rgb(194, 12, 12);
    transition: all 0.5s;
    cursor: pointer;
}

.box-play:hover {
    bottom: 0;
}

.b-play {
    position: relative;
}

.b-play div,button {
    display: inline-block;
    cursor: pointer;
}

#Bplay {
    width: 30px;
    height: 30px;
    margin: 10px 0 0 0;
    background: url(../images/base/playbar.png);
    background-position: 0 -129px;
    border: none;
    outline: none;
}

#play {
    appearance: none;
    width: 34px;
    height: 37px;
    margin: 5px 0 0 0;
    background: url(../images/base/playbar.png);
    background-position: 0 -202px;
    border: none;
    outline: none;
}

#Nplay {
    width: 30px;
    height: 30px;
    margin: 10px 0 0 0;
    background: url(../images/base/playbar.png);
    background-position: -77px -129px;
    border: none;
    outline: none;
}

.play-pic {
    width: 35px;
    height: 35px;
    margin-left: 15px;
    background: url(../images/base/default_album.jpg);
    background-size: 100%;
}

#play-song {
    font-size: 13px;
    margin: 0 10px;
}

#play-singer {
    font-size: 12px;
    color: #eee;
    margin: 0 5px;
}

.b-play .progress-bar {
    display: block;
    position: relative;
    width: 500px;
    height: 8px;
    margin: 6px 10px;
    background: rgb(36, 36, 36);
    border-radius: 4px;
    /* overflow: hidden; */
}

#bar-white {
    display: inline-block;
    position: absolute;
    top: 0;
    /* display: inline-block; */
    width: 100px;
    height: 100%;
    background: #eee;
    border-radius: 4px;
}

#bar-white span{
    position: absolute;
    top: -6px;
    right: -5px;
    width: 20px;
    height: 20px;
    background: url(../images/base/iconall.png);
    background-position: -3px -251px
}

.bar-time {
    margin-bottom: 20px;
    vertical-align: middle;
}

#play-time {
    font-size: 10px;
    color: #eee;
}

#song-time {
    font-size: 11px;
    color: #ddd;
}

#collect,
#void-set,
.play-set,
.play-list {
    width: 25px;
    height: 25px;
    margin: 0 10px;
    background: url(../images/base/playbar.png);
    background-position: 0 0;
}

#collect {
    background-position: 61px 424px;
}

/* 声音设置 */
#void-set {
    background-position: 120px 367px;
}

/* 播放设置 */
.play-set {
    background-position: 56px 367px;
}

/* 播放列表 */
.play-list {
    background: url(../images/base/foot_enter_new.png);
    background-position: -33px -84px;
    background-size: 58px;
}

.song-list {
    display: none;
    position: absolute;
    bottom: 59px;
    right: 30px;
    width: 271px;
    height: 320px;
    padding-left: 6px;
    color: #fff;
    background: #ff2211;
    opacity: 0.7;
    overflow-y: scroll;
}

.song-list::-webkit-scrollbar{
    width: 5px;
    background-color: initial;
}

.song-list::-webkit-scrollbar-thumb {
    background: rgb(173, 3, 3);
}

.song-list li {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 右下角浮标 */

.br {
    position: fixed;
    bottom: 60px;
    right: 100px;
    padding: 5px;
}

.br div {
    width: 30px;
    height: 30px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgb(194, 12, 12);  
}

.back-top {
  font-family: 'icomoon';
  font-size: 28px;
  color: red;
}

.theme {
    background: rgb(36, 36, 36);
}

.client {
    background: url(../images/base/favicon\ \(1\).ico) rgb(194, 12, 12);
    background-size: contain;
}

/* 登录 */



.login-main {
    display: block;
    /* display: none; */
    position: absolute;
    top: 23%;
    left: 26%;
    width: 530px;
    height: 372px;
    
}

/* 选择登录选项 */
.b-login-1,
.b-login-2 {
    width: 100%;
    background: #fff;
    box-shadow: 1px 1px 5px #777 ;
    border-radius: 5px;
    overflow: hidden;
    z-index: 11;
}

.log-top {
    width: 100%;
    height: 48px;
    line-height: 48px;
    padding: 0 25px;
    color: #fff;
    background: rgb(36,36,36);
    cursor: move;
}

.log-1-m {
    padding: 30px 0;
}

.log-l {
    display: inline-block;
    width: 300px;
    padding: 0 35px 3px 40px;
    border-right: 1px solid #bbb;
}

.log-l img {
    width: 100%;
}

#log-num,
#logon {
    display: block;
    width: 100%;
    height: 31px;
    margin-top: 20px;
    line-height: 31px;
    border: 1px solid #777;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

#log-num,
#log-btn {
    background: rgb(57, 135, 208);
    color: #fff;
}

#log-num:hover,
#log-btn:hover {
    background: rgb(76, 147, 206);
}

#logon {
    background: #eee;
    color: #000;
}

#logon:hover {
    background: #fff;
}

.log-r {
    display: inline-block;
    padding: 3px 20px 0;
    vertical-align: top;
}
.log-r ul {
    display: inline-block;
}

.log-r ul li {
    padding: 7px;
    cursor: pointer;
}

.log-r ul li a {
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
}

.log-r ul li:hover a {
    text-decoration: underline ;
}

.log-r span {
    display: inline-block;
    width: 38px;
    height: 38px;
    background: url(../images/base/logo.png);
    background-position: 0 0;
    vertical-align: middle;
}

.log-r .log-r-ico-1 {
    background-position:-150px -670px;
}

.log-r .log-r-ico-2 {
    background-position:-190px -670px;
}

.log-r .log-r-ico-3 {
    background-position:-230px -670px;
}

.log-r .log-r-ico-4 {
    background-position:-270px -670px;
}

.log-1-b {
    padding: 15px 0 0 30px;
    font-size: 12px;
    color: #ddd
}

.log-1-b a {
    color:rgb(90, 133, 180)
}

.log-tip {
    display: none;
    position: absolute;
    top: 51%;
    left: 7%;
    width: 250px;
    padding: 10px;
    color: #fff;
    background: rgba(36,36,36,0.7);
}

/* 阻挡整个页面 */
.box-login {
    display: none;
    position: fixed;
    _position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* 关闭 */
.log-close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
    cursor: pointer;
}

/* 手机登录界面 */
.b-login-2 {
    display: none;
    height: 340px;
}

.log-2-m {
    width: 220px;
    margin: 20px auto;
}

#account,
#password,
#log-btn {
    width: 100%;
    height: 30px;
    margin-top: 20px;
    border-radius: 2px;
    border: 1px solid #ddd;
}

/* 错误提示 */
/* 占位 */
.log-2-occ {
    height: 20px;
    line-height: 20px;
}

.log-2-err {
    display: none;
    margin: 5px 0;
    font-size: 12px;
    color: red;
}

.log-2-err i {
    width: 14px;
    height: 14px;
    margin-right: 10px;
    background-position: -50px -270px;
}

.log-2-choice {
    position: relative;
    margin: 10px 0;
    font-size: 12px;
    color: #aaa;
}

.log-2-auto {
    float: left;
}

.log-2-forget {
    float: right;
}

.log-2-b {
    height: 50px;
    padding: 19px;
    border-top: 1px solid #ccc;
    font-size: 12px;
    background: rgb(247, 247, 247);
}

.log-2-method {
    float: left;
    color:rgb(90, 133, 180)
}

.log-2-logon {
    float: right;
    color: #888;
}