/* 轮播图 */
.box-reco {
    position: relative;
    width: 100%;
    height: 380px;
    /* background: url(../images/scroll/109951165908393576.jpg) no-repeat; */
    background-size: 100%;
    transition: all 0.2s;
}

.scroll {
    position: relative;
    height: 380px;
    /* background: url(../images/scroll/109951165908393576\ \(1\).jpg) no-repeat; */
    background-size: contain;
}

.rec-pic {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s;
}

.rec-pic img {
    width: 100%;
    height: 100%;
}

.arrow-l {
    position: absolute;
    top: 50%;
    left: 68px;
    font-family: 'icomoon';
    font-size: 50px;
    color: #fff;
    cursor: pointer;
}

.arrow-r {
    position: absolute;
    top: 50%;
    right: 68px;
    font-family: 'icomoon';
    font-size: 50px;
    color: #fff;
    cursor: pointer;
}

.box-scr-dot {
    position: absolute;
    bottom: 5%;
    left: 35%;
    cursor: pointer;
}

.box-scr-dot li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px;
    border-radius: 5px;
    background: #fff;
}

/* 热门推荐 */

.box-hot,
.box-shelves,
.box-singer,
.box-rank {
    background: linear-gradient(#fff,rgba(202, 202, 202, 0.2)); 
}

.hot-title,
.shelves-title,
.singer-title,
.rank-title {
    width: 100%;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid rgb(194, 12, 12);
}

.hot-class {
    margin: 0 30px;
    font-size: 13px;
    color: rgb(141, 141, 141);
}

.hot {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hot-son {
    width: 160px;
    /* height: 160px; */
    margin: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    word-wrap: break-word;
}

.hot-son img {
    width: 100%;
}

.hot-son p {
    font-size: 13px;
}

/* 新碟上架 */

.shelves {
    position: relative;
    margin-top: 30px;
    border: 1px solid rgb(194, 12, 12);
    border-radius: 5px;
    background: #eee;
    overflow: hidden;
}

.b-shelves {
    display: block;
    position: relative;
    width: 5900px;
}

.b-shelves ul {
    display: inline-block;
}

.shelves-disc {
    position: relative;
    display: inline-block;
    width: 244px;
    padding: 20px 20px;
    vertical-align: top;
}

.shelves-disc .msk {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 17px;
    width: 85%;
    height: 154px;
    background: url(https://s2.music.126.net/style/web2/img/coverall.png?d2a919b…);
    background-size: 335px;
    background-position: 0% -38%;
}


/* .shelves-disc>a {
    width: 100%;
    display: inline-block;
    background: url(../images/base/coverall.png);
    background-size: 624px;
    background-position: 735px -1084px;
    background-position: 11% -263%;
} */

.shelves-disc img {
    padding: 0px 33px 12px 0px;
    width: 88%;
    /* opacity: 0; */
}

.she-disc-name {
    font-size: 13px;
}

.she-disc-singer {
    font-size: 12px;
    color: rgb(160, 160, 160);
}

.she-arrow-l {
    position: absolute;
    top: 50%;
    left: 0%;
    font-family: 'icomoon';
    font-size: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.she-arrow-r {
    position: absolute;
    top: 50%;
    right: 0%;
    font-family: 'icomoon';
    font-size: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

/* 热门歌手 */

.b-singer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.singer {
    display: inline-block;
    width: 145px;
    height: 213px;
    margin: 25px;
    color: #000;
    /* border-radius: 80px; */
    overflow: hidden;
}

.singer img {
    display: inline-block;
    width: 145px;
    height: 145px;
    border-radius: 80px;
    overflow: hidden;
}

.sin {
    display: block;
    text-align: center;
    /* margin: 30px 0 0 15px; */
    /* vertical-align: top; */
}

.sin p {
    margin: 5px 0;
}

/* 榜单 */


.b-rank {
    display: flex;
    justify-content: space-around;
}

.up-rank {
    width: 25%;
    margin-top: 50px;
    color: #fff;
    background: url(../images/base/music-rank-bg1.png);
}

.new-rank {
    width: 25%;
    margin-top: 50px;
    color: #fff;
    background: url(../images/base/music-rank-bg2.png);

}

.ori-rank {
    width: 25%;
    margin-top: 50px;
    color: #fff;
    background: url(../images/base/music-rank-bg3.png);
}

.rank-top {
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

.rank {
    position: relative;
    height: 45px;
    line-height: 45px;
}

.rank-num {
    margin: 15px 0;
    font-weight: 700;
    font-size: 18px;
}

.rank .singer-name {
    position: absolute;
    right: 10px;
}

.rank-even {
    background-color: hsla(0,0%,96%,.15);
}

.rank-on {
    position: relative;
    height: 90px;
    line-height: 90px;
    /* padding: 5px 100px; */
}
