/* 轮播图 */
.box-reco {
    position: relative;
    width: 100%;
    height: 380px;
    /* background: url(../images/scroll/109951165908393576.jpg) no-repeat; */
    background-size: 100%;
    transition: all 0.2s;
}

.scroll {
    position: relative;
    height: 380px;
    /* background: url(../images/scroll/109951165908393576\ \(1\).jpg) no-repeat; */
    background-size: contain;
}

.rec-pic {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s;
}

.rec-pic img {
    width: 100%;
    height: 100%;
}

.arrow-l {
    position: absolute;
    top: 50%;
    left: 68px;
    font-family: 'icomoon';
    font-size: 50px;
    color: #fff;
    cursor: pointer;
}

.arrow-r {
    position: absolute;
    top: 50%;
    right: 68px;
    font-family: 'icomoon';
    font-size: 50px;
    color: #fff;
    cursor: pointer;
}

.box-scr-dot {
    position: absolute;
    bottom: 5%;
    left: 35%;
    cursor: pointer;
}

.box-scr-dot li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px;
    border-radius: 5px;
    background: #fff;
}

/* 热门推荐 */

.box-hot,
.box-shelves,
.box-singer,
.box-rank {
    background: linear-gradient(#fff,rgba(202, 202, 202, 0.2)); 
}

.hot-title,
.shelves-title,
.singer-title,
.rank-title {
    width: 100%;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid rgb(194, 12, 12);
}

.hot-class {
    margin: 0 30px;
    font-size: 13px;
    color: rgb(141, 141, 141);
}

.hot {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hot-son {
    width: 160px;
    /* height: 160px; */
    margin: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    word-wrap: break-word;
}

.hot-son img {
    width: 100%;
}

.hot-son p {
    font-size: 13px;
}

/* 新碟上架 */

.shelves {
    position: relative;
    margin-top: 30px;
    border: 1px solid rgb(194, 12, 12);
    border-radius: 5px;
    background: #eee;
}

.shelves-disc {
    display: inline-block;
    width: 25%;
    padding: 20px 20px;
}

/* .shelves-disc>a {
    width: 100%;
    display: inline-block;
    background: url(../images/base/coverall.png);
    background-size: 624px;
    background-position: 735px -1084px;
    background-position: 11% -263%;
} */

.shelves-disc img {
    width: 88%;
    /* opacity: 0; */
}

.she-disc-name {
    font-size: 13px;
}

.she-disc-singer {
    font-size: 12px;
    color: rgb(160, 160, 160);
}

.she-arrow-l {
    position: absolute;
    top: 50%;
    left: 0%;
    font-family: 'icomoon';
    font-size: 50px;
    color: #fff;
}

.she-arrow-r {
    position: absolute;
    top: 50%;
    right: 0%;
    font-family: 'icomoon';
    font-size: 50px;
    color: #fff;
}

.singer {
    display: inline-block;
    width: 300px;
    margin: 40px;
    color: #fff;
    background: rgba(36, 36, 36);
    border-radius: 50px;
    overflow: hidden;
}

.singer img {
    display: inline-block;
    width: 30%;
}

.sin {
    display: inline-block;
    margin: 30px 0 0 15px;
    vertical-align: top;
}

.sin p {
    margin: 5px 0;
}

/* 榜单 */


.b-rank {
    display: flex;
    justify-content: space-around;
}

.up-rank {
    width: 25%;
    margin-top: 50px;
    color: #fff;
    background: rgb(87, 143, 221);
}

.new-rank {
    width: 25%;
    margin-top: 50px;
    color: #fff;
    background: rgb(70, 179, 185);
}

.ori-rank {
    width: 25%;
    margin-top: 50px;
    color: #fff;
    background: rgb(196, 74, 107);
}

.rank-top {
    width: 100%;
    text-align: center;
}

.rank {
    padding: 40px 20px;
    /* border-bottom: 2px solid rgb(194, 12, 12) ; */
}

.rank p {
    margin: 20px 0 0 10px;
}