
@font-face {

    font-family: 'icomoon';
    src:url('icomoon/fonts/icomoon.eot');
    src:url('icomoon/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('icomoon/fonts/icomoon.ttf') format('truetype'),
    url('icomoon/fonts/icomoon.woff') format('woff'),
    url('icomoon/fonts/icomoon.svg?#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* 轮播图 */
.box-reco {
    position: relative;
    width: 100%;
    min-width: 980px;
    height: 380px;
    /* background: url(../images/scroll/109951165908393576.jpg) no-repeat; */
    background-size: 100%;
    transition: all 0.2s;
}

.scroll {
    position: relative;
    height: 380px;  
    width: 980px;
    min-width: 500px;
    max-width: 980px;
    margin: 0 auto;
    /* background: url(../images/scroll/109951165908393576\ \(1\).jpg) no-repeat; */
    background-size: contain;
}

.rec-pic {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s;
}

.rec-pic img {
    width: 100%;
    height: 100%;
}

.arrow-l {
    position: absolute;
    top: 50%;
    left: 68px;
    font-family: 'icomoon';
    font-size: 50px;
    color: #fff;
    cursor: pointer;
}

.arrow-r {
    position: absolute;
    top: 50%;
    right: 68px;
    font-family: 'icomoon';
    font-size: 50px;
    color: #fff;
    cursor: pointer;
}

.box-scr-dot {
    position: absolute;
    bottom: 5%;
    left: 35%;
    cursor: pointer;
}

.box-scr-dot li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px;
    border-radius: 5px;
    background: #fff;
}

/* 热门推荐 */

.box-hot,
.box-shelves,
.box-singer,
.box-rank {
    background: linear-gradient(#fff,rgba(202, 202, 202, 0.2)); 
}

.box-hot {
    height: 290.9px;
}

.hot-title,
.shelves-title,
.singer-title,
.rank-title,
.l-title,
.f-title {
    width: 100%;
    padding: 20px;
    text-align: center;
    border-bottom: 3px solid rgb(194, 12, 12);
    min-width: 980px;
}


.box-hot-class span {
    margin: 0 30px;
    font-size: 13px;
    color: rgb(141, 141, 141);
}

.box-hot-class span:hover {
    color: rgb(194, 12, 12);
}

.hot {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hot-son {
    position: relative;
    width: 160px;
    /* height: 160px; */
    margin: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    word-wrap: break-word;
    transition: all 0.5s;
}

.hot-son .msk {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 154px;
    background: url(https://s2.music.126.net/style/web2/img/coverall.png?d2a919b…);
    background-size: 345px;
    background-position: 0% -38%;
}

.hot-son img {
    width: 100%;
}

.hot-son p {
    font-size: 13px;
}

.hot-son:hover .b-coast {
    display: block;
}

/* 覆盖部分 */
.b-coast {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 160px;
    background: rgba(256,256,256,0.3);
}

/* 播放按钮 */
.hot-play,
.hot-list {
    position: absolute;
    left: 5%;
    top: 28%;
    color: #ddd;
}



.hot-play::after,
.hot-list::after {
    display: inline-block;
    width: 50px;
    height: 50px;
    content: '\ea15';
    font-family: 'icomoon';
    font-size: 50px;
}

.hot-collect {
    position: absolute;
    left: 31%;
    bottom: 3%;
    color: #ddd;
}

.hot-collect::after {
    display: inline-block;
    width: 50px;
    height: 50px;
    content: '\e980';
    font-family: 'icomoon';
    font-size: 50px;
}

.hot-play:hover,
.hot-list:hover,
.hot-collect:hover {
    color: #fff;
}

/* 播放次数 */
.plays {
    position: absolute;
    right: 0;
    height: 25px;
    padding-left: 10px;
    line-height: 25px;
    font-size: 12px;
    color: #fff;
}

.plays::before {
    content: '\e911';
    font-size: 12px;
    font-family: 'icomoon';
}

/* 添加按钮 */
.hot-list {
    left: 61%;
}

.hot-list::after {
    content: '\e908';
}


/* 新碟上架 */

.shelves {
    position: relative;
    margin-top: 30px;
    border: 1px solid rgb(194, 12, 12);
    border-radius: 5px;
    background: #eee;
    overflow: hidden;
}

.b-shelves {
    display: block;
    position: relative;
    width: 5900px;
}

.b-shelves ul {
    display: inline-block;
    padding-left: 19px;
}

.shelves-disc {
    position: relative;
    display: inline-block;
    width: 244px;
    padding: 20px 20px;
    vertical-align: top;
}

.shelves-disc .msk {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 17px;
    width: 85%;
    height: 154px;
    background: url(https://s2.music.126.net/style/web2/img/coverall.png?d2a919b…);
    background-size: 335px;
    background-position: 0% -38%;
}


/* .shelves-disc>a {
    width: 100%;
    display: inline-block;
    background: url(../images/base/coverall.png);
    background-size: 624px;
    background-position: 735px -1084px;
    background-position: 11% -263%;
} */

.shelves-disc img {
    padding: 0px 33px 12px 0px;
    width: 88%;
    /* opacity: 0; */
}

.she-disc-name {
    font-size: 13px;
}

.she-disc-singer {
    font-size: 12px;
    color: rgb(160, 160, 160);
}

.she-arrow-l {
    position: absolute;
    top: 37%;
    left: 0%;
    font-family: 'icomoon';
    font-size: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

.she-arrow-r {
    position: absolute;
    top: 37%;
    right: 0%;
    font-family: 'icomoon';
    font-size: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

/* 热门歌手 */

.b-singer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.singer {
    display: inline-block;
    width: 145px;
    height: 213px;
    margin: 25px;
    color: #000;
    /* border-radius: 80px; */
    overflow: hidden;
}

.singer img {
    display: inline-block;
    width: 145px;
    height: 145px;
    border-radius: 80px;
    overflow: hidden;
}

.sin {
    display: block;
    text-align: center;
    /* margin: 30px 0 0 15px; */
    /* vertical-align: top; */
}

.sin p {
    margin: 5px 0;
}

/* 榜单 */


.b-rank {
    display: flex;
    justify-content: space-around;
}

.up-rank {
    width: 30%;
    margin-top: 50px;
    color: #fff;
    background: url(../images/base/music-rank-bg1.png);
}

.new-rank {
    width: 30%;
    margin-top: 50px;
    color: #fff;
    background: url(../images/base/music-rank-bg2.png);

}

.ori-rank {
    width: 30%;
    margin-top: 50px;
    color: #fff;
    background: url(../images/base/music-rank-bg3.png);
}

.rank-top {
    position: relative;
    width: 100%;
    margin: 20px 0;
    padding: 0 15px;
    /* text-align: center; */
}

.rank-top h2 {
    display: inline-block;
}

.rank-top span {
    float: right;
    margin: 0 10px;
    font-family: 'icomoon';
    font-size: 33px;
    cursor: pointer;
}

.rank {
    position: relative;
    height: 45px;
    padding-left: 10px;
    line-height: 45px;
    vertical-align: middle;
}

.rank a {
    display: inline-block;  
    width: 22%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.rank>a {
    display: inline-block;  
    width: 55%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.rank-on>a {
    width: 20%;
}

.singer-name a {
    width: 80px;
}

.rank-no1 {
    height: 90px;
    line-height: 90px;
}

.rank-pic {
    display: none;
    position: relative;
    width: 90px;
    height: 90px;
    background: url(../images/base/favicon\ \(1\).ico);
    background-size: contain;
    vertical-align: top;
}

.pic-num {
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 0 118% 0 0;
    background: rgb(189, 68, 68);
    text-align: center;
    font-size: 20px;
    vertical-align: top;
}

.rank-num {
    margin: 15px 0;
    font-weight: 700;
    font-size: 18px;
    vertical-align: top;
}

.rank .singer-name {
    position: absolute;
    right: 0px;
    vertical-align: middle;
}

.rank-even {
    background-color: hsla(0,0%,96%,.15);
}

.rank-on {
    position: relative;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.rank:hover .rank-ico {
    display: inline-block;
    vertical-align: top;
}

.rank-ico span:hover {
    color: #fff;
    cursor: pointer;
}

.rank-ico {
    display: none;
    /* margin-left: 5px; */
    padding-right: 15px;
    font-family: 'icomoon';
    font-size: 18px;
    color: rgb(245, 241, 241);
    vertical-align: middle;
}


/* 播放详情 */

/* 入口 */
.play-pic a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.pg-pic {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 32px auto;
}

.pg-pic img {
    width: 100%;
}

.pic-coast {
    position: absolute;
    top: -10px;
    left: -7px;
    width: 223px;
    height: 217px;
    background: url(../images/base/coverall.png),no-repeat;
    background-position: 0px 25%;
}

#playpage {
    display: none;
}

#playpage ul {
    margin: 0 auto;
    text-align: center
}

#playpage ul li {
    padding: 8px 0;
}

.lyric {
    width: 250px;
    height: 300px;
    margin: 0 auto;
    margin-top: 0px;
    overflow: hidden;
    /* background:  linear-gradient(0deg, rgba(60,60,60,0.5), #fff 50%, rgba(60,60,60,0.5)) */
}

.lyric::-webkit-scrollbar{
    width: 5px;
    background-color: initial;
}

.lyric::-webkit-scrollbar-thumb {
    background: rgb(105, 104, 104);
}