.s-bar {
    width: 420px;
    height: 40px;
    line-height: 50px;
    margin: 20px auto;
    background: url(https://s2.music.126.net/style/web2/img/sprite.png?32e3ddc039cf039f1a04d1ecb00cada7),no-repeat;
}

#s-inp {
    float: left;
    width: 320px;
    height: 17px;
    margin: 12px 0 0 20px;
    padding: 0;
    border: none;
    outline: none;
}

#s-btn {
    float: right;
    width: 50px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
}

.s-tip {
    display: inline-block;
    margin: 15px 0;
    font-size: 12px;
    color: #aaa
}

.s-class {
    height: 60px;
    line-height: 35px;
    color: rgb(36, 36, 36);
}

.s-class li {
    display: inline-block;
    width: 99px;
    margin: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.s-class li:hover {
    background: #eee;
}

.s-class .s-cl-on {
    /* color: #fff; */
    border-bottom: 3px solid red ;
}

.s-class .s-cl-on:hover{
    background: #ddd;
}

.s-res li {
    margin: 5px;
    border-bottom: 2px solid #ddd;
}

.s-res li span{
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
}

.s-res-odd {
    background: #fff;
}

.s-res-even {
    background: #fff;
}

.s-name {
    width: 380px;
    padding: 10px 15px;
}

.s-name::before{
    content: '\ea15';
    width: 15px;
    height: 15px;
    margin: 0 15px;
    font-family: 'icomoon';
}

.s-ico {
    display: inline-block;
    width: 100px;
}
.s-play,
.s-add {
    width: 20px;
    height: 20px;
    margin: 0 15px;
    color: #aaa ;
    font-family: 'icomoon';
    cursor: pointer;
}

.s-ico span:hover {
    transform: scale(1.2);
}


.s-art {
    width: 247px;
    text-align: center;
    font-size: 13px;
}

.s-alu {
    width: 160px;
    font-size: 13px;
}

.s-leng {
    font-size: 12px;
}

/* 分按钮 */
.s-page {
    width: 500px;
    height: 30px;
    line-height: 30px;
    margin: 20px auto;
}

.s-page .pa-b,
.s-page .pa-n {
    width: 65px;
    background: #fff;
    border: none;
}

.s-page .pa-b:hover,
.s-page .pa-n:hover {
    color: rgb(208, 12, 18);
}

.pa-count {
    display: inline-block;
}

.s-page a {
    display: inline-block;
    width: 30px;
    margin: 5px;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 8px;
}

.s-page .pa-on {
    background: red;
    color: #fff;
}
