
/* 用户 */
.user {
    position: relative;
    color: #fff;
    font-size: 12px;
    background: rgb(36,36,36);
    border-radius: 11px;
    overflow: hidden;
}

.nologin {
    display: block;
    padding: 10px 0;
    text-align: center;
}

.nologin p {
    padding: 20px;
}

.nologin button {
    width: 100px;
    height: 30px;
    background: rgb(221, 0, 27);
    border-radius: 15px;
}

.loging {
    display: none;
    top: 0;
    font-size: 16px;
}

.user-pic {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: 10px 15px;
    vertical-align: top;
}

.user-pic img {
    width: 100%;
}

.loging-r {
    display: inline-block;
    width: 80px;
}

.user-name {
    width: 100%;
    padding: 10px 0;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.loging button {
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background: rgb(47, 127, 204);
    margin: 14px 0;
    border-radius: 5px;
}


.l-bu {
    display: inline-block;
    margin: 10px;

} 

/* 热门话题 */
.b-hot-topic {
    width: 100%;
    margin: 23px 0;
    color: #fff;
    background: rgb(36,36,36);
    border-radius: 10px;
    overflow: hidden;
}

.topic-t {
    margin: 10px;
    font-size: 20px;
    font-weight: 700;
}

.b-hot-topic span {
    font-size: 12px;
    margin: 5px;
    color: #ddd;
    cursor: pointer;
}

.b-hot-topic li{
    margin: 10px 0 10px 15px;
}

.t-pic {
    display: inline-block;
    width: 80px;
    vertical-align: middle;
}

.t-pic img {
    width: 100%;
}

.b-hot-topic p {
    display: inline-block;
    width: 100px;
    height: 40px;
    vertical-align: middle;
    overflow: hidden;
}

/* 个人主页 */
#user {
    display: none;
    padding: 0 40px;
}

/* 个人信息 */
.u-i {
    margin-top: 30px;
}

.u-pic {
    display: inline-block;
    width: 180px;
    margin-right: 40px;
    vertical-align: top;
}

.u-pic img {
    width: 100%;
}

.u-intro {
    display: inline-block;
    width: 670px;
}

.u-1 {
    margin-bottom: 10px;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}


.u-1 span{
    margin-right: 20px;
}

.u-name {
    float: left;
    font: 14px;
}

.u-level {
    float: left;
    width: 62px;
    height: 19px;
    line-height: 21px;
    color: #e03a24;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    border: 1px solid #e03a24;
    border-radius: 16px;
    text-align: center;
    overflow: hidden;
}

.u-sex {
    float: left;
    width: 20px;
    height: 20px;
    background: url(../images/base/icon.png);
    background-position: -41px -27px;
    /* -41px -56px; */
}

.u-1 button {
    float: right;
}

.u-2 div{
    display: inline-block;
    padding: 0 40px 0 10px;
    border-right: 1px solid #ddd;
}

.u-count {
    font-size: 24px;
    color: #aaa;
}

.u-3 {
    margin-top: 15px;
    font-size: 14px;
    color: #aaa;
}

.u-lis .l-title,
.u-fol .f-title {
    margin-bottom: 20px;
}

.b-lis {
    height: 100%;
}

.u-lis .hot-son {
    display: inline-block;
}

/* .u-fs {
    display: flex;
} */

.u-fs ul li {
    display: inline-block;
    margin: 5px;
    width: 169px;
    text-align: center;
}

.u-fs ul li img {
    width: 100%;
}

.u-fs ul li p {
    margin-top: 5px;
    font-size: 15px;
}

.fs-c {
    color: #ccc;

}

